exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(rjags)
import(boot)
import(basicspace)
importFrom("grDevices", "rgb")
importFrom("stats", "density", "na.omit", "quantile", "rnorm", "sd", "runif")
importFrom("utils", "combn")
importFrom("MASS", "polr")
S3method(plot, aldmck_ci)
S3method(plot, mlsmu6)
S3method(print, aldmck_ci)
