exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(rjags)
import(boot)
import(basicspace)
importFrom("grDevices", "rgb")
importFrom("stats", "density", "na.omit", "quantile", "rnorm", "sd")
importFrom("MASS", p"polr")
S3method(plot, aldmck_ci)
S3method(print, aldmck_ci)
