useDynLib(asmcjr)
exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(rjags)
import(boot)
import(basicspace)
importFrom("MCMCpack", "procrustes")
importFrom("plyr", "aaply")
importFrom("tibble", "as_tibble", "add_column")
importFrom("grDevices", "rgb")
importFrom("stats", "density", "na.omit", "quantile", "rnorm", "sd", "runif")
importFrom("utils", "combn")
importFrom("MASS", "polr")
importFrom("smacof", "smacofRect")
S3method(plot, aldmck_ci)
S3method(plot, mlsmu6)
S3method(plot, bayesunfold)
S3method(print, aldmck_ci)
